### Basic information about 3D anisotropic images

######  2020.07.01  

###### (ver. 2020.07.13)

This file reads the basic meta-information about **3D** images. It might be substantial during convertion from 3D dataset to set of 2D slices.

In [26]:
from fastai.utils.mem import *

import sys
sys.path.append('functions/')

import functions10 as f

import imp
_ = imp.reload(f)

In [27]:
t1_name = 'T1.nii.gz'
t1_biascorr = 'T1_biascorr.nii.gz'
t1_mask = 'T1_biascorr_brain_mask.nii.gz'

# SALD

In [28]:
database = 'SALD'
root_folder = Path(f'/data-10tb/marek/{database}/train_data/FSL_outputs')
results_folder = Path(f'/data-10tb/marek/github_codes/skull-stripping-1/fastai/1.0_results/')
#root_folder.ls()

In [29]:
t1_files = list(root_folder.glob(f'*/{t1_name}'))
t1_bias_files = list(root_folder.glob(f'*/{t1_biascorr}'))
t1_mask_files = list(root_folder.glob(f'*/{t1_mask}'))

t1_files.sort()
t1_bias_files.sort()
t1_mask_files.sort()

In [30]:
t1_files[:3]

[PosixPath('/data-10tb/marek/SALD/train_data/FSL_outputs/sub-031274_T1w.anat/T1.nii.gz'),
 PosixPath('/data-10tb/marek/SALD/train_data/FSL_outputs/sub-031275_T1w.anat/T1.nii.gz'),
 PosixPath('/data-10tb/marek/SALD/train_data/FSL_outputs/sub-031276_T1w.anat/T1.nii.gz')]

#### Get description tables

In [31]:
sald_t1_info = f.get_sald_info(t1_files)
sald_t1_info.head(3)

,Examination,Subject_id,Image_id,Modality,Image,Path
0,sub-031274_T1w.anat,sub-031274,,T1w.anat,T1.nii.gz,/data-10tb/marek/SALD/train_data/FSL_outputs/s...
1,sub-031275_T1w.anat,sub-031275,,T1w.anat,T1.nii.gz,/data-10tb/marek/SALD/train_data/FSL_outputs/s...
2,sub-031276_T1w.anat,sub-031276,,T1w.anat,T1.nii.gz,/data-10tb/marek/SALD/train_data/FSL_outputs/s...

In [32]:
sald_t1_bias_info = f.get_sald_info(t1_bias_files)
sald_t1_bias_info.head(3)

,Examination,Subject_id,Image_id,Modality,Image,Path
0,sub-031274_T1w.anat,sub-031274,,T1w.anat,T1_biascorr.nii.gz,/data-10tb/marek/SALD/train_data/FSL_outputs/s...
1,sub-031275_T1w.anat,sub-031275,,T1w.anat,T1_biascorr.nii.gz,/data-10tb/marek/SALD/train_data/FSL_outputs/s...
2,sub-031276_T1w.anat,sub-031276,,T1w.anat,T1_biascorr.nii.gz,/data-10tb/marek/SALD/train_data/FSL_outputs/s...

In [33]:
sald_t1_mask_info = f.get_sald_info(t1_mask_files)
sald_t1_mask_info.head(3)

,Examination,Subject_id,Image_id,Modality,Image,Path
0,sub-031274_T1w.anat,sub-031274,,T1w.anat,T1_biascorr_brain_mask.nii.gz,/data-10tb/marek/SALD/train_data/FSL_outputs/s...
1,sub-031275_T1w.anat,sub-031275,,T1w.anat,T1_biascorr_brain_mask.nii.gz,/data-10tb/marek/SALD/train_data/FSL_outputs/s...
2,sub-031276_T1w.anat,sub-031276,,T1w.anat,T1_biascorr_brain_mask.nii.gz,/data-10tb/marek/SALD/train_data/FSL_outputs/s...

#### Get images info

In [34]:
%%time
sald_t1_im_info = f.get_img_params(t1_files)

CPU times: user 1min 3s, sys: 4.07 s, total: 1min 7s
Wall time: 1min 14s

In [35]:
# for k in sald_t1_im_info.Examination[:3]:
#     print(k)

In [36]:
sald_t1_im_info.head(3).round(2)

,Examination,Image,max,mean,min,dtype,size_1,size_2,size_3,pixdim_1,pixdim_2,pixixdim_3
0,sub-031274_T1w.anat,T1.nii.gz,882.99,68.99,0.0,float64,176,256,170,1.0,1.0,1.0
1,sub-031275_T1w.anat,T1.nii.gz,923.00,89.10,0.0,float64,176,256,170,1.0,1.0,1.0
2,sub-031276_T1w.anat,T1.nii.gz,1096.98,102.78,0.0,float64,176,256,170,1.0,1.0,1.0

In [37]:
sald_t1_bias_im_info = f.get_img_params(t1_bias_files)

In [38]:
sald_t1_bias_im_info.head(3).round(2)

,Examination,Image,max,mean,min,dtype,size_1,size_2,size_3,pixdim_1,pixdim_2,pixixdim_3
0,sub-031274_T1w.anat,T1_biascorr.nii.gz,888.31,70.58,0.0,float64,176,256,170,1.0,1.0,1.0
1,sub-031275_T1w.anat,T1_biascorr.nii.gz,797.09,89.32,0.0,float64,176,256,170,1.0,1.0,1.0
2,sub-031276_T1w.anat,T1_biascorr.nii.gz,982.65,103.93,0.0,float64,176,256,170,1.0,1.0,1.0

In [39]:
sald_t1_mask_im_info = f.get_img_params(t1_mask_files)

In [40]:
sald_t1_mask_im_info.head(3).round(2)

,Examination,Image,max,mean,min,dtype,size_1,size_2,size_3,pixdim_1,pixdim_2,pixixdim_3
0,sub-031274_T1w.anat,T1_biascorr_brain_mask.nii.gz,1.0,0.13,0.0,float64,176,256,170,1.0,1.0,1.0
1,sub-031275_T1w.anat,T1_biascorr_brain_mask.nii.gz,1.0,0.17,0.0,float64,176,256,170,1.0,1.0,1.0
2,sub-031276_T1w.anat,T1_biascorr_brain_mask.nii.gz,1.0,0.16,0.0,float64,176,256,170,1.0,1.0,1.0

#### Save tables to *results* folder

In [41]:
# ### SAVE TO CSV FILES
#df_ixi_t1_im_info.to_csv(results_folder/'ixi_t1_im_info.csv')
#df_ixi_t1_bias_info.to_csv(results_folder/'ixi_t1_bias_info.csv')
#df_ixi_t1_mask_info.to_csv(results_folder/'ixi_t1_mask_info.csv')

In [42]:
# ### WRITE TO EXCEL FILE
writer = pd.ExcelWriter(f'{results_folder}/sald_aniso.xlsx', engine = 'xlsxwriter')
sald_t1_info.to_excel(writer, sheet_name = 't1', index=False )
sald_t1_bias_info.to_excel(writer, sheet_name = 't1_biascorr', index=False )
sald_t1_mask_info.to_excel(writer, sheet_name = 't1_mask', index=False )

sald_t1_im_info.to_excel(writer, sheet_name = 't1_im', index=False )
sald_t1_bias_im_info.to_excel(writer, sheet_name = 't1_bias_im', index=False )
sald_t1_mask_im_info.to_excel(writer, sheet_name = 't1_mask_im', index=False )
writer.save()
writer.close()

In [ ]:
print('SALD...done')

In [43]:
# join tables
#df_ixi_t1.join(df, lsuffix='_t1', rsuffix='_df')

In [44]:
# # ## ipcluster start -n 4
# import ipyparallel as ipp
# c = ipp.Client()
# c.ids
# c[:].apply_async(f.get_img_params(ixi_t1_files))
#c.shutdown(hub=True)
# jobs
# kill %1