### Basic information about 3D anisotropic images

######  2020.07.01  

###### (ver. 2020.07.27)

This file reads the basic meta-information about **3D** images. It might be substantial during convertion from 3D dataset to set of 2D slices.

In [1]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [2]:
from fastai.utils.mem import *

import sys
sys.path.append('functions/')

import functions10 as f

# import imp
# _ = imp.reload(f)

In [3]:
t1_name = 'T1.nii.gz'
t1_biascorr = 'T1_biascorr.nii.gz'
t1_mask = 'T1_biascorr_brain_mask.nii.gz'

# HCP

In [4]:
database = 'HCP'
root_folder = Path(f'/data-10tb/marek/{database}/train_data/FSL_outputs')
results_folder = Path(f'/data-10tb/marek/github_codes/skull-stripping-1/fastai/1.0_results/')
#root_folder.ls()

In [5]:
t1_files = list(root_folder.glob(f'*/{t1_name}'))
t1_bias_files = list(root_folder.glob(f'*/{t1_biascorr}'))
t1_mask_files = list(root_folder.glob(f'*/{t1_mask}'))

t1_files.sort()
t1_bias_files.sort()
t1_mask_files.sort()

In [6]:
t1_files[:3]

[PosixPath('/data-10tb/marek/HCP/train_data/FSL_outputs/100206_3T_T1w_MPR1.anat/T1.nii.gz'),
 PosixPath('/data-10tb/marek/HCP/train_data/FSL_outputs/100307_3T_T1w_MPR1.anat/T1.nii.gz'),
 PosixPath('/data-10tb/marek/HCP/train_data/FSL_outputs/100408_3T_T1w_MPR1.anat/T1.nii.gz')]

#### Get description tables

In [7]:
slim_t1_info = f.get_hcp_info(t1_files)
slim_t1_info.head(3)

,Examination,Subject_id,Image_id,Modality,Image,Path
0,100206_3T_T1w_MPR1.anat,100206,,MPR1.anat,T1.nii.gz,/data-10tb/marek/HCP/train_data/FSL_outputs/10...
1,100307_3T_T1w_MPR1.anat,100307,,MPR1.anat,T1.nii.gz,/data-10tb/marek/HCP/train_data/FSL_outputs/10...
2,100408_3T_T1w_MPR1.anat,100408,,MPR1.anat,T1.nii.gz,/data-10tb/marek/HCP/train_data/FSL_outputs/10...

In [8]:
slim_t1_bias_info = f.get_hcp_info(t1_bias_files)
slim_t1_bias_info.head(3)

,Examination,Subject_id,Image_id,Modality,Image,Path
0,100206_3T_T1w_MPR1.anat,100206,,MPR1.anat,T1_biascorr.nii.gz,/data-10tb/marek/HCP/train_data/FSL_outputs/10...
1,100307_3T_T1w_MPR1.anat,100307,,MPR1.anat,T1_biascorr.nii.gz,/data-10tb/marek/HCP/train_data/FSL_outputs/10...
2,100408_3T_T1w_MPR1.anat,100408,,MPR1.anat,T1_biascorr.nii.gz,/data-10tb/marek/HCP/train_data/FSL_outputs/10...

In [9]:
slim_t1_mask_info = f.get_hcp_info(t1_mask_files)
slim_t1_mask_info.head(3)

,Examination,Subject_id,Image_id,Modality,Image,Path
0,100206_3T_T1w_MPR1.anat,100206,,MPR1.anat,T1_biascorr_brain_mask.nii.gz,/data-10tb/marek/HCP/train_data/FSL_outputs/10...
1,100307_3T_T1w_MPR1.anat,100307,,MPR1.anat,T1_biascorr_brain_mask.nii.gz,/data-10tb/marek/HCP/train_data/FSL_outputs/10...
2,100408_3T_T1w_MPR1.anat,100408,,MPR1.anat,T1_biascorr_brain_mask.nii.gz,/data-10tb/marek/HCP/train_data/FSL_outputs/10...

#### Get images info

In [10]:
%%time
slim_t1_im_info = f.get_img_params(t1_files)

CPU times: user 12min 14s, sys: 2min 8s, total: 14min 23s
Wall time: 29min 47s

In [11]:
# for k in slim_t1_im_info.Examination[:3]:
#     print(k)

In [12]:
slim_t1_im_info.head(3).round(2)

,Examination,Image,Max,Mean,Min,Dtype,Size_1,Size_2,Size_3,Pixdim_1,Pixdim_2,Pixdim_3
0,100206_3T_T1w_MPR1.anat,T1.nii.gz,4095.0,423.82,0.0,float64,256,320,243,0.7,0.7,0.7
1,100307_3T_T1w_MPR1.anat,T1.nii.gz,3511.0,311.55,0.0,float64,256,320,243,0.7,0.7,0.7
2,100408_3T_T1w_MPR1.anat,T1.nii.gz,4095.0,396.43,0.0,float64,256,320,243,0.7,0.7,0.7

In [13]:
slim_t1_bias_im_info = f.get_img_params(t1_bias_files)

In [14]:
slim_t1_bias_im_info.head(3).round(2)

,Examination,Image,Max,Mean,Min,Dtype,Size_1,Size_2,Size_3,Pixdim_1,Pixdim_2,Pixdim_3
0,100206_3T_T1w_MPR1.anat,T1_biascorr.nii.gz,5175.86,410.08,0.0,float64,256,320,243,0.7,0.7,0.7
1,100307_3T_T1w_MPR1.anat,T1_biascorr.nii.gz,4895.28,319.04,0.0,float64,256,320,243,0.7,0.7,0.7
2,100408_3T_T1w_MPR1.anat,T1_biascorr.nii.gz,4186.46,389.07,0.0,float64,256,320,243,0.7,0.7,0.7

In [15]:
slim_t1_mask_im_info = f.get_img_params(t1_mask_files)

In [16]:
slim_t1_mask_im_info.head(3).round(2)

,Examination,Image,Max,Mean,Min,Dtype,Size_1,Size_2,Size_3,Pixdim_1,Pixdim_2,Pixdim_3
0,100206_3T_T1w_MPR1.anat,T1_biascorr_brain_mask.nii.gz,1.0,0.25,0.0,float64,256,320,243,0.7,0.7,0.7
1,100307_3T_T1w_MPR1.anat,T1_biascorr_brain_mask.nii.gz,1.0,0.20,0.0,float64,256,320,243,0.7,0.7,0.7
2,100408_3T_T1w_MPR1.anat,T1_biascorr_brain_mask.nii.gz,1.0,0.24,0.0,float64,256,320,243,0.7,0.7,0.7

#### Save tables to *results* folder

In [17]:
# ### SAVE TO CSV FILES
#df_ixi_t1_im_info.to_csv(results_folder/'ixi_t1_im_info.csv')
#df_ixi_t1_bias_info.to_csv(results_folder/'ixi_t1_bias_info.csv')
#df_ixi_t1_mask_info.to_csv(results_folder/'ixi_t1_mask_info.csv')

In [18]:
# ### WRITE TO EXCEL FILE
writer = pd.ExcelWriter(f'{results_folder}/hcp_aniso.xlsx', engine = 'xlsxwriter')
slim_t1_info.to_excel(writer, sheet_name = 't1', index=False )
slim_t1_bias_info.to_excel(writer, sheet_name = 't1_biascorr', index=False )
slim_t1_mask_info.to_excel(writer, sheet_name = 't1_mask', index=False )

slim_t1_im_info.to_excel(writer, sheet_name = 't1_im', index=False )
slim_t1_bias_im_info.to_excel(writer, sheet_name = 't1_bias_im', index=False )
slim_t1_mask_im_info.to_excel(writer, sheet_name = 't1_mask_im', index=False )
writer.save()
writer.close()

In [19]:
print('HCP...done')

HCP...done

In [20]:
# join tables
#df_ixi_t1.join(df, lsuffix='_t1', rsuffix='_df')

In [21]:
# # ## ipcluster start -n 4
# import ipyparallel as ipp
# c = ipp.Client()
# c.ids
# c[:].apply_async(f.get_img_params(ixi_t1_files))
#c.shutdown(hub=True)
# jobs
# kill %1