### Basic information about 3D anisotropic images

######  2020.07.01  

###### (ver. 2020.07.13)

This file reads the basic meta-information about **3D** images. It might be substantial during convertion from 3D dataset to set of 2D slices.

In [29]:
from fastai.utils.mem import *

import sys
sys.path.append('functions/')

import functions10 as f

import imp
_ = imp.reload(f)

In [30]:
t1_name = 'T1.nii.gz'
t1_biascorr = 'T1_biascorr.nii.gz'
t1_mask = 'T1_biascorr_brain_mask.nii.gz'

# SLIM

In [31]:
database = 'SLIM'
root_folder = Path(f'/data-10tb/marek/{database}/train_data/FSL_outputs')
results_folder = Path(f'/data-10tb/marek/github_codes/skull-stripping-1/fastai/1.0_results/')
#root_folder.ls()

In [32]:
t1_files = list(root_folder.glob(f'*/{t1_name}'))
t1_bias_files = list(root_folder.glob(f'*/{t1_biascorr}'))
t1_mask_files = list(root_folder.glob(f'*/{t1_mask}'))

t1_files.sort()
t1_bias_files.sort()
t1_mask_files.sort()

In [33]:
t1_files[:3]

[PosixPath('/data-10tb/marek/SLIM/train_data/FSL_outputs/sub-25632_ses-1_T1w.anat/T1.nii.gz'),
 PosixPath('/data-10tb/marek/SLIM/train_data/FSL_outputs/sub-25632_ses-2_T1w.anat/T1.nii.gz'),
 PosixPath('/data-10tb/marek/SLIM/train_data/FSL_outputs/sub-25632_ses-3_T1w.anat/T1.nii.gz')]

#### Get description tables

In [34]:
slim_t1_info = f.get_slim_info(t1_files)
slim_t1_info.head(3)

,Examination,Subject_id,Image_id,Modality,Image,Path
0,sub-25632_ses-1_T1w.anat,sub-25632,ses-1,T1w.anat,T1.nii.gz,/data-10tb/marek/SLIM/train_data/FSL_outputs/s...
1,sub-25632_ses-2_T1w.anat,sub-25632,ses-2,T1w.anat,T1.nii.gz,/data-10tb/marek/SLIM/train_data/FSL_outputs/s...
2,sub-25632_ses-3_T1w.anat,sub-25632,ses-3,T1w.anat,T1.nii.gz,/data-10tb/marek/SLIM/train_data/FSL_outputs/s...

In [35]:
slim_t1_bias_info = f.get_slim_info(t1_bias_files)
slim_t1_bias_info.head(3)

,Examination,Subject_id,Image_id,Modality,Image,Path
0,sub-25632_ses-1_T1w.anat,sub-25632,ses-1,T1w.anat,T1_biascorr.nii.gz,/data-10tb/marek/SLIM/train_data/FSL_outputs/s...
1,sub-25632_ses-2_T1w.anat,sub-25632,ses-2,T1w.anat,T1_biascorr.nii.gz,/data-10tb/marek/SLIM/train_data/FSL_outputs/s...
2,sub-25632_ses-3_T1w.anat,sub-25632,ses-3,T1w.anat,T1_biascorr.nii.gz,/data-10tb/marek/SLIM/train_data/FSL_outputs/s...

In [36]:
slim_t1_mask_info = f.get_slim_info(t1_mask_files)
slim_t1_mask_info.head(3)

,Examination,Subject_id,Image_id,Modality,Image,Path
0,sub-25632_ses-1_T1w.anat,sub-25632,ses-1,T1w.anat,T1_biascorr_brain_mask.nii.gz,/data-10tb/marek/SLIM/train_data/FSL_outputs/s...
1,sub-25632_ses-2_T1w.anat,sub-25632,ses-2,T1w.anat,T1_biascorr_brain_mask.nii.gz,/data-10tb/marek/SLIM/train_data/FSL_outputs/s...
2,sub-25632_ses-3_T1w.anat,sub-25632,ses-3,T1w.anat,T1_biascorr_brain_mask.nii.gz,/data-10tb/marek/SLIM/train_data/FSL_outputs/s...

#### Get images info

In [37]:
%%time
slim_t1_im_info = f.get_img_params(t1_files)

CPU times: user 2min 10s, sys: 13.4 s, total: 2min 23s
Wall time: 5min 15s

In [38]:
# for k in slim_t1_im_info.Examination[:3]:
#     print(k)

In [39]:
slim_t1_im_info.head(3).round(2)

,Examination,Image,max,mean,min,dtype,size_1,size_2,size_3,pixdim_1,pixdim_2,pixixdim_3
0,sub-25632_ses-1_T1w.anat,T1.nii.gz,1399.0,100.62,0.0,float64,176,256,170,1.0,1.0,1.0
1,sub-25632_ses-2_T1w.anat,T1.nii.gz,1291.0,126.09,0.0,float64,161,191,154,1.0,1.0,1.0
2,sub-25632_ses-3_T1w.anat,T1.nii.gz,1463.0,167.72,0.0,float64,162,195,139,1.0,1.0,1.0

In [40]:
slim_t1_bias_im_info = f.get_img_params(t1_bias_files)

In [41]:
slim_t1_bias_im_info.head(3).round(2)

,Examination,Image,max,mean,min,dtype,size_1,size_2,size_3,pixdim_1,pixdim_2,pixixdim_3
0,sub-25632_ses-1_T1w.anat,T1_biascorr.nii.gz,1228.87,99.72,0.0,float64,176,256,170,1.0,1.0,1.0
1,sub-25632_ses-2_T1w.anat,T1_biascorr.nii.gz,1228.91,127.10,0.0,float64,161,191,154,1.0,1.0,1.0
2,sub-25632_ses-3_T1w.anat,T1_biascorr.nii.gz,1387.12,169.05,0.0,float64,162,195,139,1.0,1.0,1.0

In [42]:
slim_t1_mask_im_info = f.get_img_params(t1_mask_files)

In [43]:
slim_t1_mask_im_info.head(3).round(2)

,Examination,Image,max,mean,min,dtype,size_1,size_2,size_3,pixdim_1,pixdim_2,pixixdim_3
0,sub-25632_ses-1_T1w.anat,T1_biascorr_brain_mask.nii.gz,1.0,0.17,0.0,float64,176,256,170,1.0,1.0,1.0
1,sub-25632_ses-2_T1w.anat,T1_biascorr_brain_mask.nii.gz,1.0,0.27,0.0,float64,161,191,154,1.0,1.0,1.0
2,sub-25632_ses-3_T1w.anat,T1_biascorr_brain_mask.nii.gz,1.0,0.29,0.0,float64,162,195,139,1.0,1.0,1.0

#### Save tables to *results* folder

In [44]:
# ### SAVE TO CSV FILES
#df_ixi_t1_im_info.to_csv(results_folder/'ixi_t1_im_info.csv')
#df_ixi_t1_bias_info.to_csv(results_folder/'ixi_t1_bias_info.csv')
#df_ixi_t1_mask_info.to_csv(results_folder/'ixi_t1_mask_info.csv')

In [45]:
# ### WRITE TO EXCEL FILE
writer = pd.ExcelWriter(f'{results_folder}/slim_aniso.xlsx', engine = 'xlsxwriter')
slim_t1_info.to_excel(writer, sheet_name = 't1', index=False )
slim_t1_bias_info.to_excel(writer, sheet_name = 't1_biascorr', index=False )
slim_t1_mask_info.to_excel(writer, sheet_name = 't1_mask', index=False )

slim_t1_im_info.to_excel(writer, sheet_name = 't1_im', index=False )
slim_t1_bias_im_info.to_excel(writer, sheet_name = 't1_bias_im', index=False )
slim_t1_mask_im_info.to_excel(writer, sheet_name = 't1_mask_im', index=False )
writer.save()
writer.close()

In [ ]:
print('SLIM...done')

In [46]:
# join tables
#df_ixi_t1.join(df, lsuffix='_t1', rsuffix='_df')

In [47]:
# # ## ipcluster start -n 4
# import ipyparallel as ipp
# c = ipp.Client()
# c.ids
# c[:].apply_async(f.get_img_params(ixi_t1_files))
#c.shutdown(hub=True)
# jobs
# kill %1