### Basic information about 3D anisotropic images

######  2020.08.26  

###### 2020.08.26

This file reads the basic meta-information about **3D** images. It might be substantial during convertion from 3D dataset to set of 2D slices.

In [1]:
from fastai.utils.mem import *

import sys
sys.path.append('functions/')

import functions10 as f

import imp
_ = imp.reload(f)

In [2]:
t1_name = 'T1.nii.gz'
t1_biascorr = 'T1_biascorr.nii.gz'
t1_mask = 'T1_biascorr_brain_mask.nii.gz'

# IXI

In [3]:
database = 'CalgaryCampinas'
root_folder = Path(f'/data-10tb/marek/{database}/train_data/FSL_outputs')
results_folder = Path(f'/data-10tb/marek/github_codes/skull-stripping-1/fastai/1.0_results/')
#root_folder.ls()

In [4]:
t1_files = list(root_folder.glob(f'*/{t1_name}'))
t1_bias_files = list(root_folder.glob(f'*/{t1_biascorr}'))
t1_mask_files = list(root_folder.glob(f'*/{t1_mask}'))

t1_files.sort()
t1_bias_files.sort()
t1_mask_files.sort()

In [8]:
#t1_files[:3]

#### Get description tables

In [20]:
# NOT OPTIMAL SOLUTION!!! ALE NIE MIALEM CZASU NA PISANIE NOWEJ FUNCJI!!! TO UPDATE!!!
cc_t1_info = f.get_sald_info(t1_files)
cc_t1_info.head(3)

,Examination,Subject_id,Image_id,Modality,Image,Path
0,CC0001_philips_15_55_M.anat,CC0001,,philips,T1.nii.gz,/data-10tb/marek/CalgaryCampinas/train_data/FS...
1,CC0002_philips_15_56_M.anat,CC0002,,philips,T1.nii.gz,/data-10tb/marek/CalgaryCampinas/train_data/FS...
2,CC0003_philips_15_63_F.anat,CC0003,,philips,T1.nii.gz,/data-10tb/marek/CalgaryCampinas/train_data/FS...

In [21]:
cc_t1_bias_info = f.get_sald_info(t1_bias_files)
#cc_t1_bias_info.head(3)

In [22]:
cc_t1_mask_info = f.get_sald_info(t1_mask_files)
#cc_t1_mask_info.head(3)

#### Get images info

In [23]:
%%time
cc_t1_im_info = f.get_img_params(t1_files)

CPU times: user 50.5 s, sys: 6.77 s, total: 57.3 s
Wall time: 1min

In [24]:
cc_t1_im_info.head(3).round(2)

,Examination,Image,Max,Mean,Min,Dtype,Size_1,Size_2,Size_3,Pixdim_1,Pixdim_2,Pixdim_3
0,CC0001_philips_15_55_M.anat,T1.nii.gz,2651.18,349.70,0.0,float64,171,256,170,1.0,1.00,1.00
1,CC0002_philips_15_56_M.anat,T1.nii.gz,3258.32,418.89,0.0,float64,150,288,191,1.0,0.89,0.89
2,CC0003_philips_15_63_F.anat,T1.nii.gz,2750.29,346.82,0.0,float64,150,288,191,1.0,0.89,0.89

In [25]:
cc_t1_bias_im_info = f.get_img_params(t1_bias_files)

In [26]:
cc_t1_bias_im_info.head(3).round(2)

,Examination,Image,Max,Mean,Min,Dtype,Size_1,Size_2,Size_3,Pixdim_1,Pixdim_2,Pixdim_3
0,CC0001_philips_15_55_M.anat,T1_biascorr.nii.gz,2659.81,352.31,0.0,float64,171,256,170,1.0,1.00,1.00
1,CC0002_philips_15_56_M.anat,T1_biascorr.nii.gz,3477.04,425.93,0.0,float64,150,288,191,1.0,0.89,0.89
2,CC0003_philips_15_63_F.anat,T1_biascorr.nii.gz,2964.07,353.07,0.0,float64,150,288,191,1.0,0.89,0.89

In [27]:
cc_t1_mask_im_info = f.get_img_params(t1_mask_files)

In [28]:
cc_t1_mask_im_info.head(3).round(2)

,Examination,Image,Max,Mean,Min,Dtype,Size_1,Size_2,Size_3,Pixdim_1,Pixdim_2,Pixdim_3
0,CC0001_philips_15_55_M.anat,T1_biascorr_brain_mask.nii.gz,1.0,0.21,0.0,float64,171,256,170,1.0,1.00,1.00
1,CC0002_philips_15_56_M.anat,T1_biascorr_brain_mask.nii.gz,1.0,0.19,0.0,float64,150,288,191,1.0,0.89,0.89
2,CC0003_philips_15_63_F.anat,T1_biascorr_brain_mask.nii.gz,1.0,0.17,0.0,float64,150,288,191,1.0,0.89,0.89

#### Save tables to *results* folder

In [15]:
# ### SAVE TO CSV FILES
#cc_t1_im_info.to_csv(results_folder/'ixi_t1_im_info.csv')
#cc_t1_bias_info.to_csv(results_folder/'ixi_t1_bias_info.csv')
#cc_t1_mask_info.to_csv(results_folder/'ixi_t1_mask_info.csv')

In [29]:
# ### WRITE TO EXCEL FILE
writer = pd.ExcelWriter(f'{results_folder}/cc_aniso.xlsx', engine = 'xlsxwriter')
cc_t1_info.to_excel(writer, sheet_name = 't1', index=False )
cc_t1_bias_info.to_excel(writer, sheet_name = 't1_biascorr', index=False )
cc_t1_mask_info.to_excel(writer, sheet_name = 't1_mask', index=False )

cc_t1_im_info.to_excel(writer, sheet_name = 't1_im', index=False )
cc_t1_bias_im_info.to_excel(writer, sheet_name = 't1_bias_im', index=False )
cc_t1_mask_im_info.to_excel(writer, sheet_name = 't1_mask_im', index=False )
writer.save()
writer.close()

In [30]:
print('CC...done')

CC...done

In [17]:
# join tables
#df_ixi_t1.join(df, lsuffix='_t1', rsuffix='_df')

In [18]:
# # ## ipcluster start -n 4
# import ipyparallel as ipp
# c = ipp.Client()
# c.ids
# c[:].apply_async(f.get_img_params(ixi_t1_files))
#c.shutdown(hub=True)
# jobs
# kill %1